/********** Motus App CSS **********************************************************************/
/***********************************************************************************************/
/*                                                                                             */
/* Autor:   Stefan Apel                                                                        */
/* Version: v.050520221150                                                                     */
/*                                                                                             */
/***********************************************************************************************/


/* Variablen */
/***********************************************************************************************/
:root {
    --brand-color: #348a40;
    --brand-background-color: #f2fff7;
    --brand-link-color: #2a7480;
    --brand-link-hover-color: #113136;
    --brand-icon-color: #1c4d23;
    --brand-button-color: var(--brand-color);
    --brand-button-hover-color: #2e7d39;
    --brand-content-box-background-color: #f5faf7; /*#ebf7f1*/

    --white-color: #EEEEEE;

    --border-color: #AAAAAA;
    --border-color-brighter: #DDDDDD;
}
/***********************************************************************************************/


/* Breakpoints */
/***********************************************************************************************/
@media (min-width: 320px) {
    .display-6 {font-size:1.7rem !important;}

}

@media (min-width: 480px) {
    .content {
        width: 95%;
    }

    .display-6 {font-size:2.0rem !important;}

}

@media (min-width: 768px) {
    
    .display-6 {font-size:1.3rem !important;}

    .navbar-collapse {
        position: relative;
        margin-right: 197px;
    }

    .moodfactor-container {
        width: 15% !important;
    }

    .content {
        width: 70%;
    }
}

@media (win-width: 992px) {


}

@media (min-width: 1200px) {

}
/***********************************************************************************************/


/* Formatting */
/***********************************************************************************************/
.w-20 { width: 20%; }
.w-33 { width: 33%; }
.w-40 { width: 40%; }
.w-60 { width: 60%; }
.w-66 { width: 66%; }
.w-80 { width: 80%; }
.w-85 { width: 85%; }
.w-90 { width: 90%; }
.w-95 { width: 95%; }

.bg-white { background-color: var(--white-color); }
.bg-brand { background-color: var(--brand-color); }
.c-white { color: var(--white-color) !important; }
.c-icon { color: var(--brand-icon-color) }

.f-size-14 { font-size: 14px; }
.f-size-18 { font-size: 18px; }
.f-size-20 { font-size: 20px; }
.f-size-22 { font-size: 22px; }

.justify { text-align: justify; }
.font-weight-light { font-weight: lighter; }

.brand-color { color: var(--brand-color); }
.brand-background-color { background-color: var(--brand-background-color); }

.greyscale { filter: grayscale(100%); }

.bg-ressource-badge { background-color: #5ea744; }   /*3ba239   3fa64d*/   
.bg-stressor-badge { background-color: #e28169; }    /*de6f54      ff8080     ff6666*/       
/***********************************************************************************************/


/* Standard */
/***********************************************************************************************/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--brand-background-color);
}

a {
    color: var(--brand-link-color);
}

a:hover {
    color: var(--brand-link-hover-color);
}
/***********************************************************************************************/


/* Navbar */
/***********************************************************************************************/
.navbar-expand-md {
    background-color: var(--brand-color) !important;
}

.navbar-brand {
    color: var(--white-color) !important;
}

a.dropdown-item:hover {
    background-color: #2e7d39;
}

.dropdown-menu {
    background-color: #348a40;
    border: 0px; margin-left:30px;
}

.motus-logo {
    width: 60%;
    height: auto;
}

.motus-header {
    width: 60%;
    height: auto;
}
/***********************************************************************************************/


/* Content */
/***********************************************************************************************/
.modal-header {
    color: var(--white-color);
    background-color: var(--brand-color);
    border-color: var(--border-color);
}

.card {
    background-color: var(--brand-content-box-background-color);
}

.card-header {
    background-color: var(--brand-color);
    color: var(--white-color);
}

.accordion {
    margin-bottom: 30px !important;
}

.accordion-button {
    color: var(--white-color);
    background-color: var(--brand-color);
}

.accordion-button:not(.collapsed) {
    color: var(--white-color);
    background-color: var(--brand-color);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.moodfactor-container {
    padding: 5px; 
    border: 1px solid var(--border-color-brighter); 
    width: 32%; 
    max-width: 32%; 
    height: auto;
    min-width: 100px;
}

.moodfactor-container-profile {
    padding: 5px; 
    border: 1px solid var(--border-color-brighter); 
    width: 32%; 
    max-width: 32%; 
    height: auto;
    min-width: 100px;
}

.moodfactor-img {
    width: 100%;
    height: auto; 
    max-width: 100px; 
}

.mood-container {
    padding: 5px;
    border: 1px solid var(--border-color-brighter);
    width: 19%;
    max-width: 19%;
    height: auto;
    min-width: 55px;
}

.mood-img {
    width: 100%;
    height: auto;
    max-width: 100px;
    vertical-align: middle;
}

.list-group-item {
    background-color: var(--brand-content-box-background-color);
}

.mood-factor-switch-box {
    padding-top: 3px; 
    padding-bottom: 3px; 
    width:48%; border:1px solid var(--border-color-brighter);
}

.mood-factor-switch-input {
    height: 22px !important; 
    width: 40px !important;
}
/***********************************************************************************************/


/* Footer */
/***********************************************************************************************/
.footer {
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: var(--brand-color);
    text-align: center;
}
/***********************************************************************************************/


/* UI Elements */
/***********************************************************************************************/
.form-signin {
    max-width: 330px;
}

.motus-button {
    background-color: var(--brand-button-color);
    border-color: var(--border-color);
}

.motus-button:hover {
    background-color: var(--brand-button-hover-color);
    border-color: var(--border-color);
}

label {
    cursor: pointer;
    filter: grayscale(100%);
}
  
label:hover {
    filter: grayscale(50%);
}

input[type="radio"]:checked + label {
    filter: grayscale(0);
}

.fs-res .form-check-input:checked {
    background-color: #5ea744;
    border-color: var(--border-color)
}

.fs-str .form-check-input:checked {
    background-color: #e28169;
    border-color: var(--border-color)
}
/***********************************************************************************************/


/* Effects */
/***********************************************************************************************/
.shake {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-3px);
    }
    40%, 80% {
        transform: translateX(3px);
    }
}
/***********************************************************************************************/




