{% extends 'BaseView.html' %}
{% load static %}
{% block content %}

<main class="container-fluid p0 m0 motus-content">

  <div class="content mx-auto">

    <h3 class="mb-3">
      motus
      <small class="text-muted"> | {{ lang.ACTIVATION_WELCOME_MSG }}</small>
    </h3>

    {% if alerts %}
    <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading mb-3"><i class="fa-solid fa-circle-exclamation"></i> {{ lang.ERROR_STANDARD }}:</h6>
      {% for a in alerts %}
      <p>{{ a | safe }}</p>
      {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-success" role="alert">
      <h6 class="alert-heading mb-3">{{ lang.ACTIVATION_HEADER }} <i class="fa-solid fa-face-smile"></i></h6>
      {{ lang.ACTIVATION_MSG | safe }}
      <p><a href="{% url 'MainPage' %}">{{ lang.ACTIVATION_LINK }}</a></p>
    </div>
    {% endif %}

  </div>
</main>
{% endblock %}