{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid form-signin p0 m0">
  <div class="row">

    <h1 class="display-6 text-center f-size-18 text-uppercase"><i class="fa-solid fa-clipboard-user brand-color"></i> {{ lang.REGISTER_CHECK_WELCOME_MSG }}</h1>
    <hr class="mt-2 mb-4"/>

    {% if alerts %}
      <div class="alert alert-danger" role="alert">
        <h6 class="alert-heading mb-3"><i class="fa-solid fa-circle-exclamation"></i> {{ lang.ERROR_STANDARD }}:</h6>
        {% for a in alerts %}
        <p>{{ a | safe }}</p>
        {% endfor %}
        <p class="mt-2"><a href="#" onclick="history.go(-1)">{{ lang.REGISTER_CHECK_BACKLINK }}</a></p>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <h6 class="alert-heading mb-3">{{ lang.REGISTER_CHECK_HEADER }} <i class="fa-solid fa-face-smile"></i></h6>
        {{ lang.REGISTER_CHECK_MSG | safe}}
        <h6 class="alert-heading mb-3">{{ lang.REGISTER_CHECK_NO_MAIL_HEADER }}</h6>
        {{ lang.REGISTER_CHECK_NO_MAIL_MSG | safe }}
      </div>
    {% endif %}

  </div>
</main>
{% endblock %}