<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="motus - mood tracker">
    <meta name="author" content="Stefan Apel">
    <meta name="keywords" content="mood, tracking, health, mental health, wellbeing">

    <title>motus</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/motus.css' %}" rel="stylesheet" >
  </head>

  <body>

    <header class="container-fluid p0 m0">
      <div class="row">
        <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><h1 class="display-6"><strong></strong></h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link display-3" aria-current="page" href="#"><i class="fa-solid fa-address-card"></i> Profil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link display-3" href="#"><i class="fa-solid fa-chart-bar"></i> Statistik</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link display-3" href="#"><i class="fa-solid fa-circle-question"></i> Hilfe</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
      <div class="container-fluid">
        <span><i class="fa-solid fa-copyright"></i> motus, 2022</span>
      </div>
    </footer>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/b048ccd3c9.js" crossorigin="anonymous"></script>

  </body>

</html>
