{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid p0 m0">
  <div class="content mx-auto">

    <h3 class="mb-3">
      motus
      <small class="text-muted"> | {{ lang.INDEX_WELCOME_MSG }}</small>
    </h3>

    {% for r in records %}
    
      Eintrag

    {% empty %}

      <div class="card mb-4 shadow">
        <div class="card-body">
          {{ lang.INDEX_NO_RECORDS }}
        </div>
      </div>

    {% endfor %}

    <form action="/app/test/" method="POST">
      {% csrf_token %}
      <button class="btn btn-primary motus-button shadow" onsubmit="">Eintragen</button>
    </form>

  </div>
</main>
{% endblock %}