{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid p0 m0">
  <div class="w-85 mx-auto">

    <h3 class="mb-3">
      motus
      <small class="text-muted"> | {{ lang.INDEX_WELCOME_MSG }}</small>
    </h3>

    {% if user.profile_complete == 0 %}

      <div class="card mb-4 shadow">
        <h6 class="card-header">
          {{ lang.INDEX_MOTUS_WELCOME_MSG }} {{ user.username }}!
        </h6>
        <div class="card-body">
          <h6 class="card-title">{{ lang.INDEX_MOTUS_TITLE }}</h6>
          <p class="justify">
            {{ lang.INDEX_MOTUS_FIRST_PARAGRAPH }}
          </p>
          <p class="justify">
            {{ lang.INDEX_MOTUS_SECOND_PARAGRAPH }}
          </p>
          <p class="justify">
            {{ lang.INDEX_MOTUS_THIRD_PARAGRAPH }}
          </p>
          <form action="/app/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="1" name="info_readed" />
            <button class="btn btn-primary btn-lg motus-button shadow">Starten</button>
          </form>
        </div>
      </div>

    {% elif user.profile_complete == 1 %}

      <h3 class="mb-3">
        1. Schritt
        <small class="text-muted"> | Ressourcen auswählen</small>
      </h3>
      <!--<button class="btn btn-primary btn-lg motus-button shadow">Ressourcen auswählen</button>-->
      <div class="accordion mb-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button bg-brand" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Ressourcen
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>



    {% elif user.profile_complete == 2 %}

      <h3 class="mb-3">
        2. Schritt
        <small class="text-muted"> | Stressoren auswählen</small>
      </h3>

    {% else %}
      <h3 class="mb-3">
        3. Schritt
        <small class="text-muted"> | Eintragung vornehmen</small>
      </h3>
    {% endif %}

  </div>
</main>
{% endblock %}