{% extends 'BaseView.html' %}
{% load static %}
{% block content %}

<main class="container-fluid form-signin p0 m0">
  <div class="row">
    <img class="mb-4 mx-auto motus-logo" src="{% static 'media/pictures/motus.png' %}" alt="motus" />
    <h1 class="display-6 text-center mb-4 f-size-22 text-uppercase">{{ lang.LOGIN_WELCOME_MSG }} <i class="fa-regular fa-heart brand-color"></i></h1>
    <h2 class="display-6 text-center f-size-18 text-uppercase">{{ lang.LOGIN_PLS_LOGIN }}</h2>
    <hr class="mt-2 mb-4"/>

    {% if alerts %}
    <div class="alert alert-danger" role="alert">
      <h6 class="alert-heading mb-3"><i class="fa-solid fa-circle-exclamation"></i> {{ lang.ERROR_STANDARD }}:</h6>
      {% for a in alerts %}
      {{ a | safe }}
      {% endfor %}
    </div>
    {% endif %}

    <form class="mb-4" action="/app/login/" method="post">
      {% csrf_token %}
      <input type="hidden" name="next_url" value="{{ next_url }}" />
      <div class="form-floating mb-2">
        <input class="form-control" name="username" id="floatingInput" placeholder="{{ lang.LOGIN_USERNAME }}"
               required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.LOGIN_USERNAME_NOT_VALID_MSG }}')">
        <label for="floatingInput">{{ lang.LOGIN_USERNAME }}</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="{{ lang.LOGIN_PASSWORD }}"
               required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.LOGIN_PASSWORD_NOT_VALID_MSG }}')">
        <label for="floatingPassword">{{ lang.LOGIN_PASSWORD }}</label>
      </div>

      <p><a href="{% url 'Registration' %}">{{ lang.LOGIN_NO_ACCOUNT_MSG }}</a></p>
      <button class="w-100 btn btn-lg btn-primary motus-button shadow" type="submit">{{ lang.LOGIN_LOGIN_BUTTON }}</button>
    </form>
  </div>
</main>
{% endblock %}