{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="container-fluid form-signin p0 m0">
    <div class="row">

        <img class="mb-4 mx-auto" style="width:80%; height: auto;" src="{% static 'media/pictures/motus_logo2.png' %}" alt="" />
        <h1 class="display-6">Willkommen bei motus!</h1>
        <h2 class="display-6">Bitte logge dich ein.</h2>
        <br />

        <form action="/app/login/" method="post">
            {% csrf_token %}
            <input type="hidden" name="next_url" value="{{ next_url }}" />
            <div class="form-floating">
                <input class="form-control" name="username" id="floatingInput" placeholder="JohnDoe123">
                <label for="floatingInput">Benutzername</label>
            </div>
            <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Passwort">
                <label for="floatingPassword">Passwort</label>
            </div>

            <p>Noch kein Konto? Hier <a style="color:#AA96DA" href="{% url 'register' %}">registrieren</a>.</p>
            <button class="w-100 btn btn-lg btn-primary" style="background-color:#AA96DA; border-color: #777777" type="submit">Einloggen</button>
        </form>
    </div>
</main>
{% endblock %}