{% extends 'BaseView.html' %}
{% load static %}
{% block content %}

<script src="{% static 'js/libs/jquery-3.6.0.js' %}"></script>

<main class="container-fluid p0 m0">
  <div class="content mx-auto">

    <h3 class="mb-4">
      motus
      <small class="text-muted"> | {{ lang.MAINPAGE_WELCOME_MSG }}</small>
    </h3>

    {% if can_add_record %}

      <div class="text-center">
      <form action="/app/add_record/" method="GET">
        {% csrf_token %}
        <button class="btn btn-primary btn-lg motus-button shadow mb-4"><i class="fas fa-circle-plus"></i> {{ lang.MAINPAGE_ADD_NEW_RECORD }}</button>
      </form>
      </div>

    {% else %}

      <div class="text-center">
        <form action="/app/add_record/" method="GET">
          {% csrf_token %}
          <button class="btn btn-primary btn-lg motus-button shadow mb-4 disabled" style="background-color: grey; border-color: grey;"><i class="fas fa-circle-plus"></i> {{ lang.MAINPAGE_ADD_NEW_RECORD_NOT_AVAILABLE }}</button>
        </form>
        </div>

    {% endif %}

    <div class="records-list">
      {% for r in records %}
          {% include 'RecordItemView.html' %}

      {% empty %}
        <div class="card mb-4 shadow">
          <div class="card-body">
            {{ lang.MAINPAGE_NO_RECORDS }}
          </div>
        </div>    

      {% endfor %}
    </div>

    <div class="mb-4">&nbsp;</div>

  </div>
</main>

<script src="{% static 'js/pagination.js' %}"></script>

{% endblock %}