{% load static %}
<div class="card mb-4 shadow">
  <h6 class="card-header">
    <i class="fa-solid fa-calendar-day"></i> {{ r.timestamp|date:"l" }}, {{ r.timestamp|date}} <span class="float-end"><i class="fa-solid fa-clock"></i> {{ r.timestamp|time }} Uhr</span>
  </h6>
  <div class="card-body">
    <ul class="list-group list-group-flush brand-background-color rounded w-100">
      <li class="list-group-item">
        <div class="row mx-auto">
          {% for i in "12345" %}
              {% if i == r.mood|stringformat:"i" %}
                {% firstof "" as gs %}
              {% else %}
                {% firstof "greyscale" as gs %}
              {% endif %}
              <div class="mood-container shadow-sm rounded mb-2 mx-auto justify-content-center" style="float:left; ">
                <img class="row mx-auto mood-img {{ gs }}" src="{% static 'media/icons/mood_' %}{{ i }}.png" alt="mood {{ r.mood }}">
              </div>
            {% endfor %}
        </div>
      </li>  
      <li class="list-group-item">
        <div class="mx-auto w-100 text-center">

          {% for ressource in r.ressources.all %}
            <span class="badge rounded-pill shadow-sm bg-ressource-badge">{{ ressource.title }}</span>
          {% endfor %}

          {% for stressor in r.stressors.all %}
            <span class="badge rounded-pill shadow-sm bg-stressor-badge">{{ stressor.title }}</span>
          {% endfor %}          
        </div>
      </li>
      {% if r.note %}
        <li class="list-group-item">
          <div class="rounded w-100 shadow-sm" style="border:1px solid #DDDDDD; padding:10px;">
          <div class="mx-auto w-100">
              <span><em>{{ r.note }}</em></span>
          </div>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</div>      