{% extends 'BaseView.html' %}
{% load static %}
{% block content %}

<main class="container-fluid p0 m0 motus-content">
  <div class="content mx-auto">

    <h3 class="mb-3">
      motus
      <small class="text-muted"> | {{ lang.REGISTER_CHECK_WELCOME_MSG }}</small>
    </h3>

    {% if alerts %}
      <div class="alert alert-danger" role="alert">
        <h6 class="alert-heading mb-3"><i class="fa-solid fa-circle-exclamation"></i> {{ lang.ERROR_STANDARD }}:</h6>
        {% for a in alerts %}
        <p>{{ a | safe }}</p>
        {% endfor %}
        <p class="mt-2"><a href="#" onclick="history.go(-1)">{{ lang.REGISTER_CHECK_BACKLINK }}</a></p>
      </div>
    {% else %}
      <div class="alert alert-success" role="alert">
        <h6 class="alert-heading mb-3">{{ lang.REGISTER_CHECK_HEADER }} <i class="fa-solid fa-face-smile"></i></h6>
        {{ lang.REGISTER_CHECK_MSG | safe}}
        <h6 class="alert-heading mb-3">{{ lang.REGISTER_CHECK_NO_MAIL_HEADER }}</h6>
        {{ lang.REGISTER_CHECK_NO_MAIL_MSG | safe }}
      </div>
    {% endif %}

  </div>
</main>
{% endblock %}