{% extends 'BaseView.html' %}
{% load static %}
{% block content %}

<main class="container-fluid p0 m0">
    <div class="content mx-auto">

        <h3 class="mb-3">
            motus
            <small class="text-muted"> | {{ lang.REGISTER_WELCOME_MSG }}</small>
        </h3>

        <form action="/app/register/" method="post">
            {% csrf_token %}
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="username" id="username" placeholder="{{ lang.REGISTER_USERNAME}}"
                       required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.REGISTER_USERNAME_NOT_VALID_MSG }}')">
                <label for="username">{{ lang.REGISTER_USERNAME }}</label>
            </div>

            <div class="form-floating mb-2">
                <input type="email" class="form-control" name="email" id="email" placeholder="name@mail.com"
                       required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.REGISTER_EMAIL_NOT_VALID_MSG }}')">
                <label for="email">{{ lang.REGISTER_EMAIL }}</label>
            </div>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" name="password" id="password" placeholder="{{ lang.REGISTER_PASSWORD }}"
                       required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.REGISTER_PASSWORD_NOT_VALID_MSG }}')">
                <label for="password">{{ lang.REGISTER_PASSWORD }}</label>
            </div>

            <div class="form-floating mb-2">
                <input type="date" class="form-control" name="dateOfBirth" id="dateOfBirth" placeholder="{{ lang.REGISTER_DATE_OF_BIRTH }}"
                       required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.REGISTER_DATE_OF_BIRTH_NOT_VALID_MSG }}')">
                <label for="dateOfBirth">{{ lang.REGISTER_DATE_OF_BIRTH }}</label>
            </div>

            <div class="input-group mb-2 w-100">
                <div class="input-group-prepend w-40 bg-white">
                    <label class="input-group-text bg-white" for="gender">{{ lang.REGISTER_GENDER }}</label>
                </div>
                <select class="custom-select w-60" name="gender" id="gender"
                        required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.REGISTER_GENDER_NOT_VALID_MSG }}')">
                    <option value="">{{ lang.REGISTER_GENDER_SELECTOR }}</option>
                    <option value="{{ lang.REGISTER_GENDER_MALE }}">{{ lang.REGISTER_GENDER_MALE }}</option>
                    <option value="{{ lang.REGISTER_GENDER_FEMALE }}">{{ lang.REGISTER_GENDER_FEMALE }}</option>
                    <option value="{{ lang.REGISTER_GENDER_NON_BINARY }}">{{ lang.REGISTER_GENDER_NON_BINARY }}</option>
                    <option value="{{ lang.REGISTER_GENDER_NOT_AVAILABLE }}">{{ lang.REGISTER_GENDER_NOT_AVAILABLE }}</option>
                </select>
            </div>

            <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" value="" name="agree" id="agree"
                       required oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('{{ lang.REGISTER_LEGAL_NOT_VALID_MSG }}')">
                <label class="form-check-label" for="agree">
                    {{ lang.REGISTER_LEGAL | safe }}
                </label>
            </div>

            <button class="w-100 btn btn-lg btn-primary motus-button" type="submit">{{ lang.REGISTER_REGISTER_BUTTON }}</button>
        </form>

        <div class="modal fade" id="eulaModal" tabindex="-1" aria-labelledby="eulaLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eulaLabel"><i class="fa-solid fa-file-contract"></i> {{ lang.REGISTER_EULA }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% lorem 3 p %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary motus-button" data-bs-dismiss="modal">{{ lang.REGISTER_LEGAL_BUTTON }}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="useOfDataModal" tabindex="-1" aria-labelledby="useOfDataLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="useOfDataLabel"><i class="fa-solid fa-file-contract"></i> {{ lang.REGISTER_USE_OF_DATA }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% lorem 3 p %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary motus-button" data-bs-dismiss="modal">{{ lang.REGISTER_LEGAL_BUTTON }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}